/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  width: 100%;
}

p, small {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left,#232526,#414345);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left,#232526,#414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  margin-bottom: -3px;
  padding-bottom: 0;
  width: 100%;
}

#logo {
  margin: 20px;
  width: 50px;
}

#nav-icon-container {
  display: inline;
}

#hamburger {
  display: block;
  margin: 18px 20px 0 0;
  position: fixed;
  top: 0;
  right: 0;
}

#ex-hamburger {
  display: none;
  margin: 16px 20px 0 0;
  position: fixed;
  top: 0;
  right: 0;
}

nav {
  border-radius: 5px 0 0 5px;
  display: none;
  padding: 10px;
  position: fixed;
  top: 40px;
  right: 0;
  width: 90px;
  background-color: white;
  opacity: 90%;
  z-index: 99;
}

nav ul {
  display: inline;
  margin-left: 0;
  padding-left: 0;
  text-decoration: none;
}

nav ul li {
  padding: 2px 0;
  margin-right: 20px;
  text-align: right;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

#nav-background { display: none; }

/* INTRODUCTION */
#intro {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left,#232526,#414345);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left,#232526,#414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 180.73px;
  margin: 0;
  padding: 5px 0 0 24px;
}

h1 {
  margin: 0;
  width: 50%;
}

h4 {
  margin-top: 0;
  width: 50%;
}

#intro-job {
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 45%;
}

#intro img {
  float: right;
  padding-right: 20px;
  width: 150px;
}

#intro ul {
  font-size: 12px;
  margin: 2px;
  list-style: square;
}

/* PORTFOLIO */
#portfolio {
  color: black;
  margin: 0 auto;
  width: 90%;
}

.title {
  border: none;
  font-size: 24px;
  margin: 20px 0;
}

/* PORTFOLIO GRID */
.container { width: 100%; }
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
/* TODO: Add margin-bottom: 20px; to .row div when you have more than 4 projects listed */
.row div { height: 20%; margin-bottom: 5px; }
.col { width: 20%; }
.mr-reg { margin-right: 6.5%; }
.mr-4th { margin-right: 0; }

.folio-thumb { border: 1px solid lightgrey; width: 100%; }
.folio-feature-thumb {
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  width: 50%;
}
.folio-feature-img-r { float: right; margin-left: 20px; }
.folio-feature-img-l { float: left; margin-right: 20px; }
.folio-feature-text {
  font-size: 12px;
}
h6 { margin: 20px 0; font-size: 14px; }
.separator { height: 0; }

/* FOOTER */
footer {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  margin-top: 30px;
  padding: 7px 0 10px 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.m-20 { margin: 20px }
.m-40 { margin: 40px }
.m-50 { margin: 50px }
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* Small Screens */
@media screen and (min-width: 445px) {
  h1 { font-size: 32px; width: 50%; }
  h4 { font-size: 24px; }
  #intro { height: 240.97px; }
  #intro-job { font-size: 14px; width: 45%; }
  #intro img { width: 200px; padding-top: 0; }
}

@media screen and (min-width: 600px) {
  h1 { font-size: 42px; width: 60%; }
  h4 { font-size: 21px; margin-bottom: 20px; }
  #intro { height: 301px; }
  #intro-job { font-size: 14px; width: 45%; }
  #intro img { width: 250px; }
}

/* Medium Screens */
@media screen and (min-width: 720px) {
  #logo { margin-left: 5%; width: 60px; }
  h1 { font-size: 55px; width: 60%; }
  h4 { font-size: 28px; margin-bottom: 20px; }
  #intro { height: 361.45px; padding-left: 5%; }
  #intro-job { font-size: 18px; width: 50%; margin-bottom: 20px; }
  #intro img { width: 300px; padding-right: 5%; }
  #nav-icon-container {
    display: none;
  }
  nav {
    /* reset to default */
    background-color: transparent;
    border: none;
    border-radius: initial;
    position: fixed;
    /* new */
    top: 7px;
    margin: 0;
    padding: 0 2% 0 0;
    width: 100%;
  }
  nav ul {
    float: right;
  }
  nav ul li {
    display: inline-block;
    background: rgba(0, 0, 0, .8);
    padding: 5px 30px;
    /* margin: 0; */
  }
  nav ul a {
    color: white;
    font-size: 18px;
  }
  nav ul li:hover { background: grey; }
  #nav-background {
    background-color: black;
    opacity: 75%;
    height: 50px;
    width: 210px;
    position: fixed;
    top: 10px;
    right: 7.5%;

  }
  #portfolio { margin: 0 5%; width: auto }
  /* PORTFOLIO GRID */
  /* TODO: Add margin-bottom: 5px; to .row div when you have more than 4 projects listed */
  .row div { height: 10%; }
  .col { width: 10%; }
  .mr-reg { margin-right: 2.83%; }
  .mr-4th { margin-right: 2.83%; }
  .folio-feature-thumb { width: 40%; }
  .folio-feature-text { font-size: 18px; }
  h6 { margin: 20px 0; font-size: 18px; }
  h6 a:hover { color: grey; }
  .separator { height: 40px; }
}

@media screen and (min-width: 900px) {
  #logo { margin-left: 5%; }
  nav { width: 60%; }
  h1 { font-size: 70px; width: 60%; }
  h4 { font-size: 35px; margin-bottom: 20px; }
  #intro { height: 421.7px; padding-left: 5%; }
  #intro-job { font-size: 18px; width: 50%; }
  #intro img { width: 350px; padding-right: 5%; }
}

@media screen and (min-width: 1024px) {
  nav { padding: 0 8% 0 0; width: 55%; }

  #logo { margin-left: 10%; }
  h1 { font-size: 70px; margin-top: 50px; width: 60%; }
  h4 { font-size: 35px; margin-bottom: 20px; }
  #intro { height: 481.94px; padding-left: 10%;}
  #intro-job { font-size: 18px; width: 50%; }
  #intro img { width: 400px; padding-right: 10%; }
  #portfolio { margin: 0 10%; }
  .folio-feature-thumb { width: 35%; }
}

/* Tiny Screens - iPhone 5 for example */
@media screen and (max-width: 330px) {
  h1 { font-size: 20px; }
  h4 { font-size: 15px; }
  #intro-job { font-size: 12px; }
}

/* Teeny-Tiny Screens - Galaxy Fold */
@media screen and (max-width: 285px) {
  #intro { height: 132.53px; }
  #intro-job { display: none }
  #intro img { width: 110px; }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

